[user]
	name = Beau
	email = beau@beaumartinez.com
[core]
	excludesfile = ~/.gitignore_global
	autocomplete = -1
[color]
	ui = true
[alias]
	d = diff --minimal --word-diff
	l = log --decorate --oneline
	ms = "!f() { git log --oneline --grep=\"Merge branch '$1\"; }; f"  # merge search
	s = status --branch --short 
	cb = symbolic-ref --short HEAD  # current branch
	b = "!f() { git for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/ $@ | less --quit-if-one-screen --no-init; }; f"  # branches
	review = log --patch --no-merges --reverse master..
	co = checkout
[push]
	default = simple
[pull]
	rebase = preserve
[help]
	autocorrect = -1
[branch "master"]
	mergeoptions = --no-ff
[rerere]
	enabled = true
	autoupdate = true
[diff]
	algorith = patience
