[user]
	name = Beau
	email = beau@beaumartinez.com
[core]
	excludesfile = ~/.gitignore_global
	autocomplete = -1
[color]
	ui = true
[alias]
	d = diff --minimal --word-diff
	l = log --decorate --oneline
	ll = log --decorate --oneline -5
	s = status --branch --short 
	cb = symbolic-ref --short HEAD
	b = for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/
	review = log --patch --no-merges --reverse master..
[push]
	default = simple
[pull]
	rebase = preserve
[help]
	autocorrect = -1
[branch "master"]
	mergeoptions = --no-ff
